{% extends 'music/base.html' %}
{% block title %}Add a New Song{% endblock %}
{% block albums_active %}active{% endblock %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p hidden id='albumid'>{{album.id}}</p>
                    <a href="{% url 'music:detail' album.id %}">
                        {% if album.album_logo %}
                        <img src="{{ album.album_logo.url }}" class="img-responsive">
                        {% else %}
                        <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'music:create_song' album.id %}">添加新歌</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>添加新歌</h3>
                    <!-- {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="album" value="{{ album }}">
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">提交</button>
                            </div>
                        </div>
                    </form> -->
                    <form name=theform>
                        <input type="radio" name="myradio" value="local_name" checked=true/> 上传文件名字保持本地文件名字
                        <input type="radio" name="myradio" value="random_name" /> 上传文件名字是随机文件名, 后缀保留
                    </form>

                    <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
                    <input type="text" id='ytburl'>
                    <div id="container">
                    	<a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
                    	<a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
                    </div>

                    <pre id="console"></pre>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'vendor/plupload-2.1.2/js/plupload.full.min.js' %}"></script>
<script src="{% static 'js/upload.js' %}"></script>
{% endblock %}
