asn1crypto==0.24.0
cffi==1.12.2
cryptography==2.6.1
Django==2.1.7
django-crispy-forms==1.7.2
django-js-asset==1.2.2
django-mptt==0.10.0
django-tinymce4-lite==1.7.4
jsmin==2.2.2
mutagen==1.42.0
Pillow==5.4.1
pycparser==2.19
pycryptodome==3.8.1
PyMySQL==0.9.3
pytz==2018.9
six==1.12.0
