{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container" id="post_container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-10" style="margin:0 auto;">
		    <p>&nbsp;</p>
                <p style="text-align: center;">本站基于Django2.1，Python3.6.5，源码：<span style="color: #33cccc;"><strong><a style="color: #33cccc;" href="https://github.com/pangruru/NewBlog" target="_blank" rel="noopener">Github</a>&nbsp;</strong></span>欢迎Issue和Fork</p>
                <p style="text-align: center;">
                    因为存储空间有限，离线下载不开放，如有需要，请联系我：wit235813@gmail.com    或扫码加微信
                </p>
                <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'img/1552447103(1).png' %}" alt="" width="217" height="217" /></p>
                <p>&nbsp;</p>
            </div>
    </div>
</div>
<!-- Page Footer-->
{% endblock %}
