
<aside class="col-lg-4 aside">
    <div class="wrapper">
    <div class="mycard">
        <div class="tags">
            <div class="tag pm"></div>
            <div class="tag om"></div>
        </div>
        <div class="panel">
            <span>分类</span>
            <hr>
        <div class="mycontent" style="padding: initial;">
            {% load mptt_tags %}
          <ul>
              {% recursetree category_count %}
                  <li style="list-style-type:none;">
                      <a href="{% url 'get_category_blogs' id=node.id %}">{{ node.title }} {{ node.get_children_blogcount }}</a>
                      {% if not node.is_leaf_node %}
                          <ul class="children">
                              {{ children }}
                          </ul>
                      {% endif %}
                  </li>
              {% endrecursetree %}
          </ul>
        </div>
        </div>
    </div>
    <div class="mycard">
        <div class="tags">
            <div class="tag dev"></div>
            <div class="tag om"></div>
            <div class="tag qa"></div>
        </div>
        <div class="panel">
            <span>最近</span>
            <hr>
        <div class="mycontent">

            <div class="blog-posts">
            {% for rec in recent %}
            <a href="{{ rec.get_absolutly_url }}">
            <div class="item d-flex align-items-center">
              <div class="title"><strong>{{ rec.title }}</strong>
              </div>
            </div></a>
            </div>

            {% endfor %}
        </div>
        </div>
    </div>
    <div class="mycard">
        <div class="tags">
            <div class="tag design"></div>
            <div class="tag qa"></div>
        </div>
        <div class="mytags">
            <div class="panel">
                <span>标签</span>
                <hr>
                {% for tag in tag_count %}
                <a href="{% url 'get_tag_blogs' id=tag.tags__id %}"><span class="tag-rounded">{{ tag.tags__title }}({{ tag.tags__title__count }})</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

</aside>
