<!DOCTYPE html>
<html>
    {% load static %}
    {% include 'head.html' %}

    <body style="position:relative;">

        <div style="height:100%;min-height:100%;">

            <div class="container" id="blog_container">

            {% include 'header.html' %}
            {% for message in messages %}
                <p class="alert alert-primary myalert" role='alert'>{{message}}</p>
            {% endfor %}

                    {% block content %}
                    {% endblock %}
                {% include 'footer.html' %}
                {% include 'scripts.html' %}
            </div>
        </div>
    </body>
</html>
