<!DOCTYPE html>
<html>
    {% load static %}
    {% include 'head.html' %}
<style media="screen">
    ::selection { background:#80dfff; color: #000; } ::-moz-selection { background:#80dfff;color: #000; } ::-webkit-selection { background:#80dfff; color: #000; }
</style>
    <body style="position:relative;height: auto;overflow-y:scroll;" onload="PR.prettyPrint()">
        <div style="min-height:100%;">

            <div class="container" id="blog_container" style="height: 100%;padding-bottom: 150px;">

            {% include 'header.html' %}
            {% for message in messages %}
                <p class="alert alert-primary myalert" role='alert'>{{message}}</p>
            {% endfor %}

                    {% block content %}
                    {% endblock %}
                {% include 'footer.html' %}
                {% include 'scripts.html' %}
            </div>
        </div>
    </body>
</html>
