{% extends 'base.html' %}
{% load static %}
{% load posts_extras %}
{% block content %}
    <div class="container content_container" >
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8">
            <div class="wrap">
                <div class="blog">
                    {% for blog in blogs %}
                    <div class="conteudo">
                        {% if blog.thumbnail %}
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                     <a href="{{ blog.get_absolutly_url }}"><h4>{{ blog.title }} </h4></a>
                                </div>
                                <div class="row tag">
                                    <span class="badge badge-pill badge-info"><a href="{% url 'get_category_blogs' id=blog.category_id %}">{{ blog.category }}</a></span>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <p>
                                            {{ blog.overview }}
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <div class="row align-items-center">
                                           <div class="col">
                                               <a href="{{ blog.get_absolutly_url }}"><img src="{{blog.thumbnail.url}}" alt="..." class="thumbnail"></a>
                                           </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        <div class="row" style="margin-top:15px;">
                            <div class="col-1">
                             <div style="width:40px;height:40px;border-radius:20px;overflow:hidden;">
                                 <img src="{{blog.author.profile_picture.url}}" style="width:100%">
                             </div>
                           </div>
                           <div class="col-11">
                               <p class="foot_p">Posted by {{blog.author}}</p>
                               <p class="foot_p">{{ blog.timestamp }}</p>
                           </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <a href="{{ blog.get_absolutly_url }}"><h4>{{ blog.title }} </h4></a>
                                </div>
                                <div class="row tag">
                                    <span class="badge badge-pill badge-info"><a href="{% url 'get_category_blogs' id=blog.category_id %}">{{ blog.category }}</a></span>
                                </div>
                                <div class="row">
                                    <p>
                                        {{ blog.overview }}
                                    </p>
                                </div>
                            </div>
                          </div>
                        <div class="row" style="margin-top:15px;">
                            <div class="col-1">
                             <div style="width:40px;height:40px;border-radius:20px;overflow:hidden;">
                                 <img src="{{blog.author.profile_picture.url}}" style="width:100%">
                             </div>
                           </div>
                           <div class="col-11">
                               <p class="foot_p">Posted by {{blog.author}}</p>
                               <p class="foot_p">{{ blog.timestamp }}</p>
                           </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        {% include 'aside.html' with recent=recent category_count=category_count  %}
      </div>
    </div>
    <!-- Page Footer-->
{% endblock %}
