{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="qowttYi_pvGvMIMrBArjmgUFw1QuH8KZkGuD97JzSUs" />
    <link rel="shortcuts icon" href="{% static 'img/icon.ico' %}">
    {% if blog.title == none %}
    <title>侧耳倾听-Devops个人博客</title>
    {% else %}
    <title>{{ blog.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'vendor/google-code-prettify/skins/sons-of-obsidian.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/rili.css' %}">
    <link rel="stylesheet" href="{% static 'css/froala_style.min.css' %}">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/blog.js' %}"></script>
<!--    <script src="{% static 'js/rili.js' %}"></script>-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css'>


</head>
