{% extends 'base.html'%}
{% load static %}
{% load mptt_tags %}
{% block content %}
{% for message in messages %}
<p class="alert alert-primary" role='alert'>{{message}}</p>
{% endfor %}
<div class="container" id="post_container" style="width: 82%;">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-12">
            <div class="container" style="width: 86%;">

                <div>
                    <div class="post-details">
                        <!-- <hr> -->
                        <div class="post-meta d-flex justify-content-between">

                        </div>

                        <h3 style="text-align: center;">{{ blog.title }}</h3>
                        <div class="post-footer d-flex align-items-center flex-column"><div class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="{{ blog.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                                <div class="title"><span>{{ blog.author }}</span></div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap" style="padding-top:20px">
                                <div class="date">{{ blog.timestamp }}</div>
                                <div class="views">阅读-{{ blog.view_count }}</div>
                                <div class="views">评论-{{ blog.comment.count }}</div>
                                <div class="views">分类-<a href="{% url 'get_category_blogs' id=blog.category_id %}" style="color: darkorange;">{{ blog.category }}</a></div>
                            </div>
                        </div>
                        <hr>
                        <div class="post-body">
                            {{ blog.content|safe }}
                        </div>
                        <div class="post-tags">
                            {% for tag in blog.tags.all %}
                            <a href="{% url 'get_tag_blogs' id=tag.id %}" class="tag">#{{ tag.title }}</a>
                            {% endfor %}
                        </div>

                        <div id="share-buttons" style="padding-top: 25px;">
                            <span>分享到 - </span>
                            <a href="https://www.facebook.com/sharer.php?u=https://frinmash.blogspot.com" target="_blank">
                                <img src="https://pandacoderblog.oss-cn-shanghai.aliyuncs.com/倾听/20190623165315.png" alt="Facebook" />
                            </a>
                            <a href="https://twitter.com/share?url=https://pandacoder.top/blog/{{ blog.id }}&text={{ blog.title }}" target="_blank">
                                <img src="https://pandacoderblog.oss-cn-shanghai.aliyuncs.com/倾听/20190623164922.png" alt="Twitter" />
                            </a>
                            <a href="http://service.weibo.com/share/share.php?appkey=&title={{ blog.title }}&url=https://pandacoder.top/blog/{{ blog.id }}" target="_blank">
                                <img src="https://pandacoderblog.oss-cn-shanghai.aliyuncs.com/倾听/微博.png" alt="Weibo" />
                            </a>
                        </div>

                        <hr>
                        <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                            {% if pre %}
                            <a href="{{ pre.get_absolutly_url }}" class="prev-post text-left d-flex align-items-center">
                                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                <div class="text"><strong class="text-primary">上一篇 </strong>
                                    <h6>{{pre.title}}</h6>
                                </div>
                            </a>
                            {% else %}
                            <a href="#" class="prev-post text-left d-flex align-items-center">
                                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                <div class="text"><strong class="text-primary">上一篇 </strong>
                                    <h6>这是最新的一篇</h6>
                                </div>
                            </a>
                            {% endif %}

                            {% if next %}
                            <a href="{{ next.get_absolutly_url }}" class="next-post text-right d-flex align-items-center justify-content-end">
                                <div class="text"><strong class="text-primary">下一篇 </strong>
                                    <h6>{{ next.title }}</h6>
                                </div>
                                <div class="icon next"><i class="fa fa-angle-right"></i></div>
                            </a>
                            {% else %}
                            <a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                                <div class="text"><strong class="text-primary">下一篇 </strong>
                                    <h6>这是最后一篇</h6>
                                </div>
                                <div class="icon next"><i class="fa fa-angle-right"></i></div>
                            </a>
                            {% endif %}
                        </div>
                    </div>

                    <div id="photoswipe" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="pswp__bg"></div>
                        <div class="pswp__scroll-wrap">
                            <div class="pswp__container">
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                            </div>
                            <div class="pswp__ui pswp__ui--hidden">
                                <div class="pswp__top-bar">
                                    <div class="pswp__counter"></div>
                                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                    <button class="pswp__button pswp__button--share" title="Share"></button>
                                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                    <div class="pswp__preloader">
                                        <div class="pswp__preloader__icn">
                                            <div class="pswp__preloader__cut">
                                                <div class="pswp__preloader__donut"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                    <div class="pswp__share-tooltip"></div>
                                </div>
                                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                </button>
                                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                </button>
                                <div class="pswp__caption">
                                    <div class="pswp__caption__center"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="post-comments" style="    padding-top: 45px;">
                <div class="row justify-content-center" style="    padding-bottom: 130px;">
                    <div class="col-10">
                        <h3 class="h6">评论一下<span class="no-of-comments">({{ blog.comment.count }})</span></h3>
                        <div>
                            <form method="POST" class="commenting-form">
                                {% csrf_token %}
                                <div class="form-group  col-md-12">
                                    <textarea rows='3' name="comment" class="form-control"></textarea>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-outline-dark btn-sm">发送</button>
                                </div>
                                {% else %}
                                <div style="text-align: center;">
                                    评论前请先 <a style="color: lightseagreen;font-weight: 700;" href="{% url 'login' %}">登录</a> 或 <a style="color: lightseagreen;font-weight: 700;" href="{% url 'signup' %}">注册</a>
                                </div>
                                {% endif %}

                            </form>
                        </div>

                    </div>
                </div>


                {% recursetree genres %}
                <div class="comment">
                    <div class="row comment_row" style="padding-right: 35px">
                        <div class="col-2">
                            <div class="image"><img src="{{ node.name.profile_picture.url }}" alt="..."></div>

                        </div>
                        <div class="col-9">
                            <div class="title"><span>{{ node.name }}</span>
                                {% if node.name == blog.author %}
                                <span class="badge badge-pill badge-dark">author</span>
                                {% endif %}
                                <span class="date">
                                    {{ node.timestamp }}</span>
                                <span style="cursor:pointer;float:right;" onclick="showTextarea({{node.id}})" class="comment_p">回复</span>
                            </div>
                            <div class="comment-body">
                                <p>{{ node.body }}</p>
                                <div style="display:none;" id="textarea{{node.id}}" class="textareas">
                                    <form method="POST" class="commenting-form">
                                        <input type="text" name="parent" value={{node.id}} hidden />
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" name="comment"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-outline-dark btn-sm">发送</button>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>

                    {% if not node.is_leaf_node %}
                    <ul class="children" style="padding-left: 80px;">
                        {{ children }}
                    </ul>
                    {% endif %}
                </div>
                {% endrecursetree %}
            </div>
        </main>
        <!-- {% include 'aside.html' with recent=recent category_count=category_count %} -->
    </div>
</div>
<!-- Page Footer-->
<script type="text/javascript">
    //评论的回复框
    function showTextarea(str) {
        if ($("#textarea" + str).is(":visible")) {
            $("#textarea" + str).attr("style", "display:none;");
        } else {
            $(".textareas").each(function() {
                $(this).hide();
            })
            $("#textarea" + str).show();
        }

    }
</script>



{% endblock %}
